/* Background color*/
.bish-bg-blue {
    background-color: #2EB7EB;
}
.bish-bg-white {
    background-color: #f5f5f5;
}
.bish-bg-white-up {
    background-color: #ededed;
}
.bish-bg-gray {
    background-color: rgb(88, 80, 80);
}
.bish-bg-product-detail {
    background-color: rgb(217, 217, 217);
}

/* Background color opacity (utilisé dans page de connexion et inscription*/
.bish-bg-blue-opacity {
    background-color: rgba(46, 183, 235, 0.25);
}
.bish-bg-white-opacity-90 {
    background-color: rgba(245, 245, 245, 0.90);
}

/* Background color quand hover*/
.hover\:bish-bg-blue:hover {
    background-color: #2EB7EB;
}
.hover\:bish-bg-white:hover {
    background-color: #F5F5F5;
}
.hover\:bish-bg-gray:hover {
    background-color: #585050;
}
.hover\:bish-bg-blue-opacity:hover {
    background-color: rgba(46, 183, 235, 0.25);
}

/* Background color quand focus*/
.focus\:bish-bg-white:focus {
    background-color: #F5F5F5;
}

/* Text color*/
.bish-text-blue {
    color: #2EB7EB;
}
.bish-text-white {
    color: #F5F5F5;
}
.bish-text-gray {
    color: #585050;
}
.hover\:bish-text-blue:hover {
    color: #2EB7EB;
}

/* Border color*/
.bish-border-blue {
    border-color: #2EB7EB;
}
.bish-border-white {
    border-color: #F5F5F5;
}
.bish-border-white-up {
    border-color: #d7d7d7;
}
.bish-border-gray {
    border-color: #585050;
}
.focus\:bish-border-gray:focus {
    border-color: #585050;
}
.hover\:bish-border-blue:hover {
    border-color: #2EB7EB;
}
.hover\:bish-border-gray:hover {
    border-color: #585050;
}

/* Text decoration color*/
.bish-decoration-blue {
    text-decoration-color: #2EB7EB;
}
.bish-decoration-white {
    text-decoration-color: #F5F5F5;
}
.bish-decoration-gray {
    text-decoration-color: #585050;
}

/* Box shadow color */

.bish-shadow-blue{
    box-shadow: 10px 10px 10px rgba(46, 183, 235, 0.50);
}
.bish-shadow-grey{
    box-shadow: 5px 5px 10px rgba(88, 80, 80, 0.4);
}
