
.bish-bg-blue {
    background-color: #2EB7EB;
}

.bish-bg-white {
    background-color: #F5F5F5;
}

.bish-bg-gray {
    background-color: #585050;
}

.bish-text-blue {
    color: #2EB7EB;
}

.bish-text-white {
    color: #F5F5F5;
}

.bish-text-gray {
    color: #585050;
}